<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Map_1_Data">
      <section name="Map_Objects" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="Player_Items" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Player_Items>
    <add key="Item_Ids" value="1,2,3" />
  </Player_Items>
  <Map_1_Data>
    <Map_Objects>
      <!-- Interactive_Object(int map_x, int map_y, int x, int y, int size, int range, string name, damage and health for enemy) -->
      <add key="Weapon1" value="1,1,500,700,40,50,Weapon,4" />
      <add key="Enemy1" value="2,0,900,650,50,50,Enemy,10,40" />
      <add key="Enemy2" value="2,2,500,700,80,50,Enemy2,12,55" />
      <add key="Coin2" value="1,0,238,708,15,50,Coin,15" />
      <add key="Enemy5" value="1,1,451,768,80,40,Enemy2,10,40" />
      <add key="Coin1" value="1,0,350,200,15,50,Coin,15" />
      <add key="Enemy0" value="1,0,713,312,50,50,Enemy,6,30" />
      <add key="Enemy3" value="2,2,742,586,80,50,Enemy2,12,55" />
      <add key="Enemy4" value="2,2,332,716,50,50,Enemy,12,55" />
      <add key="Enemy6" value="2,1,690,303,80,50,Enemy2,8,50" />
      <add key="Enemy7" value="2,1,724,485,50,50,Enemy,5,30" />
      <add key="Enemy8" value="2,1,814,422,50,50,Enemy,5,30" />
      <add key="Enemy9" value="2,1,511,260,50,50,Enemy,5,30" />
      <add key="Coin0" value="1,1,259,433,15,50,Coin,20" />
      <add key="Coin3" value="2,1,630,489,15,50,Coin,5" />
      <add key="Coin4" value="2,1,597,563,15,50,Coin,5" />
      <add key="EOL0" value="2,0,406,313,50,50,EOL,1" />
    </Map_Objects>
  </Map_1_Data>
  <connectionStrings>
    <add name="WindowsFormsApp1.Properties.Settings.EquipmentConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Items.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp1.Properties.Settings.TopScoresConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TopScores.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>